* { 
margin: 0; 
padding: 0; 
box-sizing: border-box; 
}

body {
  font-family: 'Lato', sans-serif;
  background: #1a1d21;
  color: #d1d2d3;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.sidebar {
  width: 240px;
  min-width: 240px;
  background: #19171d;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #2a2a2d;
}

.sidebar-top { 
    padding: 14px 18px; 
    border-bottom: 1px solid #2a2a2d;
}

.logo { 
    font-size: 17px; 
    font-weight: 900; 
    color: #fff;
}

.logo span { 
    color: #e01e5a; 
}

.channel-list { 
    flex: 1; 
    overflow-y: auto; 
    padding: 8px 0; 
}
.channel-list::-webkit-scrollbar { width: 3px; }

.channel-list::-webkit-scrollbar-thumb { background: #2a2a2d; }

.section-title { 
    font-size: 11px; 
    font-weight: 700; 
    text-transform: uppercase; 
    color: #616061; 
    padding: 12px 18px 4px; 
    letter-spacing: 0.08em; 
}

.channel { 
    display: flex; 
    align-items: center; 
    gap: 8px; 
    padding: 5px 18px; 
    cursor: pointer; 
    font-size: 14px; 
    color: #9b9b9b; 
    transition: background 0.1s; 
}

.channel:hover{ 
    background: #27242c; 
    color: #d1d2d3; 
}

.channel.active{ 
    background: #350d36; 
    color: #fff; 
}

.live-tag { 
    margin-left: auto; 
    background: #e01e5a; 
    color: #fff; 
    font-size: 9px; 
    font-weight: 700; 
    padding: 1px 5px;
    border-radius: 3px; 
}

.my-profile { 
    padding: 12px 18px; 
    border-top: 1px solid #2a2a2d; 
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

.my-avatar { 
    width: 30px; 
    height: 30px; 
    border-radius: 6px; 
    background:#e01e5a; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 13px; 
    font-weight: 700; 
    color: #fff; 
}

.my-name{ 
    font-size: 13px; 
    font-weight: 700; 
    color: #fff; 
}

.my-status{ 
    font-size: 11px; 
    color: #616061; 
}


.main { 
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    overflow: hidden; 
}

.topbar { 
    padding: 12px 24px; 
    border-bottom: 1px solid #2a2a2d; 
    display: flex; 
    align-items: center; 
    gap: 12px; 
}

.channel-name { 
    font-size: 16px; 
    font-weight: 900; 
    color: #fff; 
}

.channel-info { 
    font-size: 13px; 
    color: #616061; 
    border-left: 1px solid #2a2a2d; 
    padding-left: 12px; 
}



