.body {
 font-family: 'Courier New', Courier, monospace;
 background-color: #f5f5f5;
 padding: 40px 20px;
 line-height: 1.8;
}
      
.container {
 max-width: 1400px;
 margin: 0 auto;
 background-color: white;                   
}

.main-content {
 display: flex;
 gap: 40px;
 align-items: flex-start;
}

.left-column {
 flex: 1;
 font-size: 20px;
 line-height: 2.0;
 text-align: justify;
}

.center-image {
 flex: 0 0 450px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.center-image img {
 width: 90%;
 height: auto;
}

.right-column {
 flex: 1;
 font-size: 20px;
 line-height: 2.0;
 text-align: justify;
}

.bottom-text {
 margin-top: 20px;
 font-size: 20px;
 line-height: 2.0;
 text-align: justify;
}

.top-image-section {
width: 100%;
margin-bottom: 40px;
}

.top-image-section img {
width: 100%;
height: auto;
border: 1px solid #ddd;
}


        
.second-section {
display: flex;
gap: 40px;
align-items: flex-start;
}

.text-column {
flex: 1;
font-size: 20px;
line-height: 2.0;
text-align: justify;
 }

.img-column {
flex: 1;
display: flex;
align-items: flex-start;
justify-content: center;
}

.img-image {
width: 100%;
max-width: 500px;
}

.img-image img {
width: 100%;
height: auto;
}

.text-column2{
flex: 1;
font-size: 20px;
line-height: 2.0;
text-align: justify;
}

.i-column {
flex: 1;
display: flex;
align-items: flex-start;
justify-content: center;
}

.i-image {
width: 100%;
max-width: 500px;
}

.i-image img {
width: 100%;
height: auto;
}


.top-image-section img,
.img-image img {
    transition: transform 0.4s ease;
}

.top-image-section:hover img,
.img-image:hover img {
    transform: scale(1.05) rotate(2deg);
}

 .column1 {
 flex: 1;
 font-size: 20px;
 line-height: 2.0;
 text-align: justify;
}


.column2 {
 flex: 1;
 font-size: 20px;
 line-height: 2.0;
 text-align: justify;
}

