body {
            font-family: 'EB Garamond', Georgia, serif;
            background-color: #f5f5f0;
            overflow-x: hidden;
            padding: 50px 30px;
    min-height: 400vh;
    background-image: url('https://img.freepik.com/free-photo/empty-sea-beach-background_74190-1749.jpg?semt=ais_user_personalization&w=740&q=80');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
        

.text-column {
    text-align: center;
}

.story-title {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.author-name {
    font-size: 25px;
    font-style: italic;
    margin-bottom: 30px;
    text-align: center;
    color: #666;
}

        .container {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .paragraph {
            position: absolute;
            max-width: 450px;
            padding: 0;
            background: transparent;
            border: none;
            font-size: 15px;
            line-height: 1.9;
            text-align: justify;
            opacity: 0.7;
            transition: all 0.4s ease;
            box-shadow: none;
            color: #000;
        }

        .paragraph:hover {
            opacity: 1;
            box-shadow: none;
            transform: scale(1);
        }

        .p1 { top: 200px; left: 8%; transform: rotate(-1deg); }
        .p2 { top: 180px; right: 10%; transform: rotate(2deg); }
        .p3 { top: 1500px; left: 15%; transform: rotate(-2deg); }
        .p4 { top: 1200px; right: 7%; transform: rotate(1deg); }
        .p5 { top: 2700px; left: 5%; transform: rotate(-1deg); }
        .p6 { top: 2500px; right: 8%; transform: rotate(2deg); }