body {
  margin: 0;
  height: 100vh;                   
  display: flex;                   
  flex-direction: column;         
  align-items: center;             
  justify-content: center;         
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: #ffffff; 
}

body img {
  max-width: 80vw;
  max-height: 60vh;
  width: auto;
  height: auto;
  display: block;
  object-fit: contain;
  margin: 0 auto; 
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}


a {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.255);
  color: #000000;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  background-color: rgba(0,0,0,0.6);
}